body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-primary: 27, 43, 50;    /* dark greenish */
  --color-secondary: 0, 191, 174; /* bright aqua */
  --color-accent: 112, 225, 245;  /* soft blue */
  --color-soft: 212, 241, 244;    /* pale aqua */
  --color-bg: 248, 249, 250;      /* light grayish background */
}